@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header,
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Start : Navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo_container {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
}

.logo_container h4 {
  margin-left: 22px;
}

.logo_title {
  font-weight: 900;
  font-size: 40px;
}

.logo_title_span {
  color: #f948b2;
}

.list_items {
  display: flex;
  align-items: center;
  margin-top: 19px;
}

.list_items li {
  font-size: 15px;
  margin-right: 50px;
  list-style: none;
}

.list_items a {
  color: black;
  text-decoration: none;
}

.icons_listItems {
  background-color: rgba(128, 128, 128, 0.26);
  padding: 9px;
  border-radius: 5px;
  min-width: 100px;
}

.youtube_icon {
  margin-left: 10px;
  margin-right: 10px;
  color: red;
}

.facebook_icon {
  color: rgba(0, 0, 255, 0.719);
  margin-right: 10px;
}
/* End : Navbar */

/* Start : Banner  */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
}

.banner_details {
  width: 50%;
}

.banner_title {
  font-size: 34px;
  font-weight: 600;
  margin-left: 8px;
}

.banner_title_span {
  font-size: 60px;
  font-weight: bolder;
  line-height: 75px;
  background: linear-gradient(to top, #8758f1, #f948b2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.banner_info {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.users,
.download,
.instant_play {
  display: flex;
  align-items: center;
  margin-top: 7px;
  font-style: italic;
}

.users_details,
.download_text,
.click_text {
  margin-left: 8px;
}

.btn_grp {
  margin-top: 20px;
}

.signIn_btn {
  color: #fff;
  background-color: #f948b2;
  border: 0;
  border-radius: 600px;
  width: 140px;
  padding: 13px;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.go_btn {
  margin-left: 20px;
  color: #fff;
  background-color: #4ec5f7;
  border: 0;
  border-radius: 600px;
  width: 150px;
  padding: 13px;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.signIn_btn:hover,
.go_btn:hover {
  transform: scale(1.05);
}

.banner_img {
  width: 50%;
}

.banner_img img {
  width: 100%;
}

/* End : Banner */

/* Start : Online Games  */
.online_games {
  margin-top: 80px;
  text-align: center;
  padding: 20px;
}

.online_games_title {
  font-size: 38px;
  margin-bottom: 7px;
}

.online_games_title_span {
  background: linear-gradient(to top, #8758f1, #f948b2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
}

.online_games_info {
  color: grey;
  font-style: italic;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
/* End : Online Games  */

/* Start : play_instantly section */
.play_instantly {
  margin-top: 100px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.play_instantly_details {
  width: 50%;
  padding-left: 80px;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}

.play_instantly_title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.play_instantly_title_span {
  color: #f948b2;
}

.play_instantly_info {
  color: grey;
  line-height: 28px;
  font-style: italic;
}

.play_instantly_image {
  width: 50%;
}

.playInstantly_another_image {
  position: relative;
  right: 150px;
  bottom: 300px;
}

/* End : play_instantly section */

/* Start : Mobile Responsive */

@media screen and (max-width: 576px) {
  /* Start : Navbar */
  .navbar,
  .list_items {
    flex-direction: column;
  }
  .list_items li {
    margin-top: 20px;
    text-align: center;
  }
  /* End : Navbar */

  /* Start : Banner */
  .banner {
    flex-direction: column;
    padding: 5px;
  }

  .banner_title {
    font-size: 20px;
  }

  .banner_title_span {
    font-size: 40px;
  }

  .instant_play,
  .download,
  .users {
    font-size: 13px;
  }

  .users_details,
  .download_text,
  .click_text {
    margin-left: 4px;
  }

  .go_btn {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* End : Banner */

  /* Start : Online Games */
  .online_games {
    padding: 5px;
  }

  .online_games_title {
    font-size: 20px;
  }

  .online_games_info {
    font-size: 14px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards img {
    width: 100%;
  }
  /* End : Online Games */

  /* Start : Play Instantly  */
  .play_instantly {
    flex-direction: column;
    padding: 0;
  }

  .play_instantly_title {
    font-size: 20px;
  }
  /* End : Play Instantly  */
}
