@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}

/* Start : Navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo_container {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
}

.logo_container h4 {
  margin-left: 22px;
}

.logo_title {
  font-weight: 900;
  font-size: 40px;
}

.logo_title_span {
  color: #f948b2;
}

.list_items {
  display: flex;
  align-items: center;
  margin-top: 19px;
}

.list_items li {
  font-size: 15px;
  margin-right: 50px;
  list-style: none;
}

.list_items a {
  color: black;
  text-decoration: none;
}

.icons_listItems {
  background-color: rgba(128, 128, 128, 0.459);
  padding: 9px;
  border-radius: 5px;
  min-width: 100px;
}

.youtube_icon {
  margin-left: 10px;
  margin-right: 10px;
  color: red;
}

.instagram_icon {
  margin-right: 10px;
}
/* End : Navbar */

/* Start : Mobile Responsive */

@media screen and (max-width: 576px) {
  .navbar,
  .list_items {
    flex-direction: column;
  }
  .list_items li {
    margin-top: 20px;
    text-align: center;
  }
}
